%p#notice= notice

%p
  %b Index:
  = @episode.index
%p
  %b Story:
  = @episode.story
%p
  %b Content:
  = @episode.content

= link_to 'Edit', edit_episode_path(@episode)
\|
= link_to 'Back', episodes_path
