%p#notice= notice

%h1= @story.title
-@story.episodes.each do |episode|
  %div=link_to "Episode #{episode.index}", episode

= link_to 'Edit', edit_story_path(@story)
\|
= link_to 'Back', stories_path
